

.modal_content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
  }
  /* .login{
    width: 420px;
    left: 708px;
    top: 170px;
   } */
   .modal_header {
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
  }
  .modal_body {
    color: #999;
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
  }
  .modal_title{
    padding: 8px 0px 0 6px;
}
.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgb(199, 191, 191);
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}
 /* Google sign in button  */
 .g_sign_in_button {
     margin: 10px;
     display: inline-block;
     width: 240px;
     height: 50px;
     background-color: #4285f4;
     color: #fff;
     border-radius: 1px;
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
     transition: background-color .218s, border-color .218s, box-shadow .218s;
 }
 
 .g_sign_in_button:hover {
     cursor: pointer;
     -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
     box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
 }
 
 .g_sign_in_button:active {
     background-color: #3367D6;
     transition: background-color 0.2s;
 }
 
 .g_sign_in_button .content-wrapper {
     height: 100%;
     width: 100%;
     text-align: center;
     /* border: 1px solid transparent; */
 }
 
 .g_sign_in_button img {
     /* width: 18px;
     height: 18px; */
     width: 70%;
 }
 
 .g_sign_in_button .logo_wrapper {
     /* padding: 15px; */
     padding: 7px 0px;
     background: #fff;
     /* width: 48px; */
     width: 23%;
     height: 100%;
     border-radius: 1px;
     display: inline-block;
 }
 
 .g_sign_in_button .text_container {
     font-family: Roboto,arial,sans-serif;
     font-weight: 500;
     letter-spacing: .21px;
     font-size: 16px;
     line-height: 48px;
     vertical-align: top;
     border: none;
     display: inline-block;
     text-align: center;
     width: 180px;
 }
 .content_wrapper_link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
   
    text-decoration: none;
}

@media (max-width: 768px){
     .modal_dialog {
        margin-top: 50px;
    }
 }
 @media (min-width:1025px) {
    .modal_dialog{
      max-width:400px;
    }
}
@media (min-width: 576px){
     .modal_dialog {
        max-width: 400px;
        margin: 1.75rem auto;
    }
}
span.error{
    font-size: 12px;
    color:red;
    padding:0px 15px;
  }
